@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@font-face {
  font-family: "digital-7";
  src: url("~/library/fonts/Digital7Italic-RBM3.ttf");
}
* {
  font-family: "DM Sans", helvetica, sans-serif;
  color: #8b8b8b;
}

.calc__screen-display {
  font-family: "digital-7", "Orbitron", monospace;
  font-size: large;
  text-align: right;
  font-size: 60px;
  line-height: 80px;
}

[class*=btn] {
  font-size: 36px;
  font-weight: 700;
}

.calc__btn--cancel {
  font-size: 22px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcddc0;
}

.calc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 556px;
  background-color: #9eb0df;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), 12px 10px 30px rgba(0, 0, 0, 0.4);
  border-radius: 45px;
}
.calc__grid {
  height: 100%;
  width: 100%;
  padding: 50px 25px;
}
.calc__screen {
  width: 100%;
  height: 88px;
  background-image: linear-gradient(to bottom right, #8991a5, #969baa, #aab2c5, #a1add6, #a6afc9);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calc__screen-display {
  min-width: 92%;
  min-height: 82%;
  max-height: 82%;
  background: #cbc4a7;
  border-radius: 20px;
  padding: 0 15px;
}
.calc__solar-border {
  width: 100%;
  height: 60%;
  margin-top: 10%;
  background-image: linear-gradient(to bottom right, #81899e, #9ea5bb, #a0abce, #a6afc9);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calc__solar-grid {
  min-width: 95%;
  min-height: 85%;
  background: #635454;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.calc__solar-panel {
  min-width: 24%;
  background-color: #503e3e;
}

@media screen and (min-width: 350px) {
  .calc {
    width: 340px;
    height: 556px;
  }
  .calc__grid {
    padding: 40px 30px;
  }
}
.calc__grid {
  display: grid;
  gap: 5px;
  grid-auto-columns: 1fr;
  grid-template: "screen screen screen screen" "AC solar solar divide" "seven eight nine multiply" "four five six minus" "one two three plus" "zero zero decimal equals";
}

.calc__screen {
  grid-area: screen;
}

.cal__btn--cancel {
  grid-area: AC;
}

.calc__solar-border {
  grid-area: solar;
}

#divide {
  grid-area: divide;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#multiply {
  grid-area: multiply;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#minus {
  grid-area: minus;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#plus {
  grid-area: plus;
}

#zero {
  grid-area: zero;
}

#decimal {
  grid-area: decimal;
}

#equals {
  grid-area: equals;
}

@media screen and (min-width: 350px) {
  .calc__grid {
    gap: 12px;
  }
}
[class*=btn] {
  max-height: 60px;
  max-width: 60px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3), 8px 6px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.calc__btn {
  background-color: #fafafa;
}
.calc__btn--num {
  background-color: #fafafa;
}
.calc__btn--wide {
  background: #fafafa;
  max-width: 140px;
}
.calc__btn--symbol {
  background: #ffab7b;
  color: #fafafa;
}
.calc__btn--cancel {
  background: #575757;
  color: #fafafa;
}

.clicked {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

/*# sourceMappingURL=main.css.map */
