@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

@font-face {
  font-family: "digital-7";
  src: url("~/library/fonts/Digital7Italic-RBM3.ttf");
}

$font-primary: "Shippori Antique B1", helvetica, sans-serif;
$font-digital: "digital-7", "Orbitron", monospace;
