$color-white: #fafafa;
$color-gray-light: #8b8b8b;
$color-gray-dark: #575757;

$color-brown-light: #fff3d2;
$color-brown-dark: #fcddc0;

$color-blue: #9eb0df;
$color-orange: #ffab7b;

$color-screen: #cbc4a7;
$color-solar-dark: #503e3e;
$color-solar-light: #635454;
