.calc__grid {
  display: grid;
  gap: 15px;
  grid-auto-columns: 1fr;
  grid-template:
    "screen screen screen screen"
    "AC solar solar divide"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero decimal equals";
}

.calc__screen {
  grid-area: screen;
}

.cal__btn--cancel {
  grid-area: AC;
}

.calc__solar-border {
  grid-area: solar;
}

#divide {
  grid-area: divide;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#multiply {
  grid-area: multiply;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#minus {
  grid-area: minus;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#plus {
  grid-area: plus;
}

#zero {
  grid-area: zero;
}

#decimal {
  grid-area: decimal;
}

#equals {
  grid-area: equals;
}
