@use "../abstracts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-brown-dark;
}

.calc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 358px;
  height: 576px;
  background-color: $color-blue;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), 15px 15px 25px rgba(0, 0, 0, 0.2);
  border-radius: 45px;

  &__grid {
    height: 100%;
    width: 100%;
    padding: 30px;
  }

  &__screen {
    width: 100%;
    height: 88px;
    background: #cbc4a7;
    border-radius: 25px;
  }

  &__solar-panel {
    background: #443232;
    border-radius: 5px;
    width: 100%;
    height: 60%;
    margin-top: 10%;
  }
}
