@use "../abstracts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-brown-dark;
}

.calc {
  width: 358px;
  height: 576px;
  background-color: $color-blue;
  margin: 0 auto;
}
