@use "../abstracts" as *;

[class*="btn"] {
  max-height: 62px;
  max-width: 62px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3), 8px 6px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.calc__btn {
  background-color: $color-white;

  &--wide {
    background: $color-white;
    max-width: 140px;
  }

  &--symbol {
    background: $color-orange;
    color: $color-white;
  }

  &--cancel {
    background: $color-gray-dark;
    color: $color-white;
  }
}

.clicked {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
