@use "../abstracts" as *;

[class*="btn"] {
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3), 8px 4px 20px rgba(0, 0, 0, 0.4);
}

.calc__btn {
  background-color: $color-white;

  &--wide {
    background: $color-white;
  }

  &--symbol {
    background: $color-orange;
  }

  &--cancel {
    background: $color-gray-dark;
    color: $color-white;
  }
}
